.card {
    flex: 1 1 50%;
    position: relative;
    border: 1px solid #efefef;
    color: #666666;
  }
  
  .card-content {
    padding: 30px 30px 110px;;
  }
  
  .card-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .card-details-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #efefef;
    margin: 0 30px;
    padding: 30px 0;
  }
  .card h1{
      margin:0;
  }
  .card p{
      margin: 0 0 30px;
  }
  .subtitle{
      margin: 0 0 15px;
      font-weight: 700;
  }
  html{
      line-height: 1.2;
      color: #444444;
      font-family: 'Nunito',sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5{
    line-height: 1.6;
  }